# Q21.Which demographic patients are prone to get stroke?

In [4]:
import pandas as pd
workbook_url = 'HospitalDatabase.xlsx'
Patients_df = pd.read_excel(workbook_url,sheet_name='Patients')
Discharges_df = pd.read_excel(workbook_url,sheet_name='Discharges')
merged = Patients_df.merge(Discharges_df, left_on='PatientID', right_on='PatientID')
df = merged.loc[(merged['PrimaryDiagnosis'] == "Stroke")]
df['Race'].max()

'White'

# Q22. Create a dataframe with acuity and EDDisposition as the indices and the count of number of patients as the value.

In [6]:
import pandas as pd
df=pd.read_excel('HospitalDatabase.xlsx', 'EDVisits')
df = pd.DataFrame(df, columns=['EDDisposition','Acuity'])
df.reset_index().groupby( [ "EDDisposition", "Acuity"],as_index=False ).count()

  EDDisposition  Acuity  index
0      Admitted       1     32
1      Admitted       2    116
2      Admitted       3     81
3      Admitted       4    107
4      Admitted       5    179
5    Discharged       1    558
6    Discharged       2     66
7    Discharged       4     30
8    Discharged       5     30

# Q23. Write a function to find the center element in the list. (one element in odd length list,  two elements in even length list).